/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

ul {
  list-style: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background: #f5f9fc;
  border: 1px solid #f5f9fc;
  height: 55px;
}

header nav h5 {
  float: left;
  width: 20%;
  background: #f5f9fc;
  margin-top: 0;
}

header nav ul li {
  float: left;
  width: 10%;
  background: #f5f9fc;
}

header nav button {
  float: right;
  width: 10%;
}

main #main-section {
  height: 200px;
  width: 100%;
  background: #f5f9fc;
  padding-left: 5%;
}

main #main-section > section {
  float: left;
  width: 50%;
  background: #f5f9fc;
}

main #feature-section > section {
  float: left;
  width: 25%;
  background: #f5f9fc;
  padding: 5%;
}

#info-collection {
  padding-left: 5%;
  margin-top: 5%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
