header, footer{
    height: 200px;
    border: 1px solid gray;
    clear: both;
}

.column{
    height: 500px;
    width: 19.7%;
    border: 1px solid gray;
    float: left;
}

.square{
    height: 500px;
    width: 40.0%;
    border: 1px solid gray;
    float: left;
}

